{% load i18n %}
<div class="cabinet__tab-content" id="tab-content-owner-docs">
    <div class="cabinet__docs">
        <h2 class="cabinet__title">{% blocktrans %}This tab is not ready yet.{% endblocktrans %}</h2>
        {% comment %}
        <h2 class="cabinet__title">Documents (JUST A SAMPLE)</h2>
        <button class="cabinet__btn doc-save-btn">Add more</button>
        <div class="cabinet__docs-table-block">
            <table id="docs-table" class="cabinet__docs-table">
                <thead >
                    <tr class="cabinet__docs-tr-head">
                        <th class="cabinet__docs-th">№</th>
                        <th class="cabinet__docs-th">Name</th>
                        <th class="cabinet__docs-th"></th>
                        <th class="cabinet__docs-th"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">1</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Standart room with double bed.docx
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">2</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">3</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">4</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                How to credit the authorship of the icons?.jpg
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">5</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Standart room with double bed.docx
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">6</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">7</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">8</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                How to credit the authorship of the icons?.jpg
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">9</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Standart room with double bed.docx
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">10</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">11</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                Digital media attribution.pdf
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="cabinet__docs-tr">
                        <td class="cabinet__docs-num">12</td>
                        <td class="cabinet__docs-name">
                            <a class="cabinet__docs-name-link" href="#">
                                How to credit the authorship of the icons?.jpg
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-download"></i>
                                <span>Download</span>
                            </a>
                        </td>
                        <td class="cabinet__docs-link">
                            <a class="cabinet__docs-link" href="#">
                                <i class="icon-trash"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="cabinet__pages">
                <a class="cabinet__page-item current" href="#">1</a>
                <a class="cabinet__page-item" href="#">2</a>
                <a class="cabinet__page-item" href="#">3</a>
                <a class="cabinet__page-item" href="#">4</a>
            </span>
        </div>
        <button class="cabinet__btn doc-save-btn">Add more</button>
        {% endcomment %}
    </div>
</div>