{% load i18n widget_tweaks %}
<div class="cabinet__tab-content" id="tab-content-owner-dash">
    <div class="cabinet__hotel js-scroll-to-this-if-error">
        <div class="cabinet__hotel-container">
            <h2 class="cabinet__title full-width">{% blocktrans %}Create subaccount with type {{ service_type_name }}{% endblocktrans %}
                <span class="hint big-text">
                    <span class="hint-icon">i</span>
                    <span class="hint-text">
                        {% blocktrans context "business owner create subaccount header hint" %}business owner create subaccount header hint{% endblocktrans %}
                    </span>
                </span>
            </h2>
            <a class="cabinet__backlink ajax-change-tab" data-url="{% url "business_dashboard" %}">
                {% blocktrans %}go back{% endblocktrans %}
            </a>
        </div>
        <form method="POST" action="{% url 'business_add_subaccount' service_type_pk %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="cabinet__hotel-block">
                    <span class="error">{{ form.non_field_errors.0 }}</span>
                </div>
            {% endif %}
            {{ form.service_type }}
            <div class="cabinet__hotel-block js-scroll-to-this-if-error">
                <label class="cabinet__hotel-label">{{ form.title.label }}
                    <span class="hint">
                        <span class="hint-icon">i</span>
                        <span class="hint-text">
                            {% blocktrans context "business owner create subaccount username hint" %}business owner create subaccount title hint{% endblocktrans %}
                        </span>
                    </span>
                </label>
                {{ form.title|add_class:"cabinet__hotel-input"|add_error_class:"error" }}
                {% if form.title.errors %}
                    <span class="error">{{ form.title.errors.0 }}</span>
                {% endif %}
            </div>
            <div class="cabinet__hotel-block js-scroll-to-this-if-error">
                <label class="cabinet__hotel-label">{{ form.username.label }}
                    <span class="hint">
                        <span class="hint-icon">i</span>
                        <span class="hint-text">
                            {% blocktrans context "business owner create subaccount username hint" %}business owner create subaccount username hint{% endblocktrans %}
                        </span>
                    </span>
                </label>
                {{ form.username|add_class:"cabinet__hotel-input"|add_error_class:"error" }}
                {% if form.username.errors %}
                    <span class="error">{{ form.username.errors.0 }}</span>
                {% endif %}
            </div>
            <button type="submit" class="cabinet__btn submit-btn room-page ajax-post-in-tab">
                {% trans "Save" %}
            </button>
        </form>
    </div>
</div>
