{% extends 'base_with_simple_header.html' %}
{% load i18n widget_tweaks %}

{% block title %}{% blocktrans context 'page title (end user)' %}Bookelgouna | Change Password{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
	    <div class="form">
            <h2 class="form__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="form__text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form class="form__container" autocomplete="off" method="POST" action=".">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="non_field_errors">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="form__input-separator">
                            {% with WIDGET_ERROR_CLASS='error' %}
                                {% render_field form.password1 class="form__input" placeholder=form.password1.label %}
                            {% endwith %}
                            {% if form.password1.errors %}
                                <span class="error">{{ form.password1.errors.0 }}</span>
                            {% endif %}
                        </div>
                        <div class="form__input-separator">
                            {% with WIDGET_ERROR_CLASS='error' %}
                                {% render_field form.password2 class="form__input" placeholder=form.password2.label %}
                            {% endwith %}
                            {% if form.password2.errors %}
                                <span class="error">{{ form.password2.errors.0 }}</span>
                            {% endif %}
                        </div>
                        <button class="form__btn reset-pass-btn">{% trans "Change Password" %}</button>
                    </form>
                {% else %}
                    <p class="form_text">{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
