{% extends 'base_with_simple_header.html' %}
{% load i18n %}

{% block title %}{% blocktrans context 'page title (end user)' %}Bookelgouna | Change Password{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
	    <div class="form">
            <h2 class="form__title">{% trans "Change Password" %}</h2>
            {% url 'account_login' as login_link %}
            <p class="form__text">{% trans 'Your password is now changed.' %} {% blocktrans with cls="form__link" %}Click <a class="{{ cls }}" href="{{ login_link }}">here</a> to login.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
