{% extends 'base_with_simple_header.html' %}
{% load i18n account %}

{% block title %}{% blocktrans context 'page title (end user)' %}Bookelgouna | Password Reset{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
	    <div class="form">
            <h2 class="form__title">{% trans "Password Reset" %}</h2>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="form__text">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
