{% extends 'base_with_simple_header.html' %}
{% load i18n account widget_tweaks %}

{% block title %}{% blocktrans context 'page title (end user)' %}Bookelgouna | Password Reset{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
	    <div class="form">
            <h2 class="form__title">{% trans "Password Reset" %}</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="form__text">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form class="form__container" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form__input-separator">
                    {% with WIDGET_ERROR_CLASS='error' %}
                        {% render_field form.email class="form__input" placeholder=form.email.label %}
                    {% endwith %}
                    {% if form.email.errors %}
                        <span class="error">{{ form.email.errors.0 }}</span>
                    {% endif %}
                </div>
                <button class="form__btn reset-pass-btn">{% trans "Reset My Password" %}</button>
            </form>

            <p class="form__text">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
