{% load i18n common_tags %}

{% for excursion in object_list %}
    <div class="find__article">
        <div class="find__article-top">
            <h3 class="find__article-title">
                <a href="{{ excursion.get_absolute_url }}" class="find__article-title-link">
                    {{ excursion.title_trans }}
                </a>
            </h3>
            {% if excursion.review_avg > 0 %}
                <div class="find__article-rate-review">
                    {% blocktrans with mark=excursion.review_avg|floatformat:"0" %}{{ mark }}/5 (based on reviews){% endblocktrans %}
                </div>
            {% endif %}
        </div>
        {% with absolute_url=transport.get_absolute_url %}
            <div class="find__article-gallery trans-page">
                <div id="find-gallery-single" class="find-gallery-single owl-carousel">
                    <a href="{{ excursion.get_absolute_url }}" class="item">
                        <img class="lazyOwl" data-src="{{ excursion.find_service_big_featured_image }}">
                    </a>
                    {% for image_obj in excursion.images.all %}
                        <a href="{{ excursion.get_absolute_url }}" class="item">
                            <img class="lazyOwl" data-src="{{ image_obj.find_service_big_image_thumbnail }}">
                        </a>
                    {% endfor %}
                </div>
                <div class="find__article-info trans-page">
                    <div class="find__article-price-box trans-page">
                        <div class="find__article-price-top trans-page">
                            {% if excursion.min_price  %}
                                {% trans "from" %}
                                <span class="find__article-price-amount yellow-price trans-page">{{ excursion.min_price|floatformat:-2 }}
                                    <span class="find__article-price-sign yellow-price trans-page">$</span>
                                </span>
                            {% else %}
                                {% blocktrans context 'find excursion page review text' %}Review{% endblocktrans %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a href="{{ excursion.get_absolute_url }}" class="find__article-book-btn excurs-page">{% blocktrans context 'find excursion page book button' %}book{% endblocktrans %}</a>
                <p class="find__article-text trans-page">
                    {{ excursion.description_trans }}
                </p>
            </div>
        {% endwith %}
    </div>
{% empty %}
    {% url "business" as link %}
    <h2 class="form__title">{% blocktrans context "find excursion page no excursion in db" with class="form__link" %}No excursion yet. If you are an excursion owner, <a href="{{ link }}" class="{{ class }}">register</a> and add new one.{% endblocktrans %}</h2>
{% endfor %}

{% if has_more_excursions %}
    <div class="find__showmore-btn">
        <a class="find__showmore-btn-link find-page">
            {% blocktrans %}show more{% endblocktrans %}
        </a>
    </div>
{% endif %}
