{% extends 'base_for_business_owner.html' %}

{% load i18n account widget_tweaks %}

{% block title %}{% blocktrans context 'page title (business owner)' %}Bookelgouna | Password Reset{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="ownercontentboard">
        <div class="ownercontentsidebox">
            <span class="owl-text-owner">{% trans "Password Reset" %}</span><br>
            <div class="owl-text-ownersm">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form class="form__container" method="POST" action="{% url 'business_reset_password' %}">
                    {% csrf_token %}
                    <div class="form__input-separator">
                        {% with WIDGET_ERROR_CLASS='error' %}
                            {% render_field form.email class="form__input" placeholder=form.email.label %}
                        {% endwith %}
                        {% if form.email.errors %}
                            <span class="error">{{ form.email.errors.0 }}</span>
                        {% endif %}
                    </div>
                    <button class="form__btn reset-pass-btn ownersm">{% trans "Reset My Password" %}</button>
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
