{% extends 'base_for_business_owner.html' %}
{% load i18n %}

{% block title %}{% blocktrans context 'page title (business owner)' %}Bookelgouna | Change Password{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="ownercontentboard">
        <div class="ownercontentsidebox">
            <span class="owl-text-owner">{% trans "Change Password" %}</span><br>
            {% url 'business' as login_link %}
            <div class="owl-text-ownersm">
                <p>{% trans 'Your password is now changed.' %} {% blocktrans with cls="form__link" %}Click <a class="{{ cls }}" href="{{ login_link }}">here</a> to login.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
