{% extends "base_service_find_page.html" %}
{% load i18n %}

{% block title %}{% blocktrans context 'page title' %}Bookelgouna|Find Sport{% endblocktrans %}{% endblock %}
{% block desc_meta_tag %}{% blocktrans context 'page description meta tag' %}find sport description metatag{% endblocktrans %}{% endblock %}
{% block fb_title %}{% blocktrans context "facebook page title" %}find sport page facebook title{% endblocktrans %}{% endblock %}
{% block fb_desc_meta_tag %}{% blocktrans context "facebook page description" %}find sport page facebook description{% endblocktrans %}{% endblock %}

{% block content %}
<div class="find" id="find-hotel-list" data-page="{{ form.page.value }}">
    {% include 'sports/includes/ajax_find_sport_list_with_filters.html' %}
</div>
{% endblock %}
