{% extends "base_with_simple_header.html" %}
{% load i18n %}

{% block title %}{% blocktrans context 'page title' %}Bookelgouna|Privacy Policy{% endblocktrans %}{% endblock %}
{% block desc_meta_tag %}{% blocktrans context 'page description meta tag' %}privacy pocicy page description metatag{% endblocktrans %}{% endblock %}
{% block fb_title %}{% blocktrans context "facebook page title" %}Privacy Policy page facebook title{% endblocktrans %}{% endblock %}
{% block fb_desc_meta_tag %}{% blocktrans context "facebook page description" %}Privacy Policy page facebook description{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
        {% include "core/includes/privacy_policy_block.html" %}
    </div>
{% endblock content %}
