{% extends 'base_with_simple_header.html' %}
{% block content %}
<div class="wrap-inner">
	<div class="cabinet">
		<ul class="cabinet__tabs">
			<li class="cabinet__tab-item">
				<input type="radio" name="user-tabs" id="cab-user-info">
				<label class="cabinet__tab-label" for="cab-user-info">general</label>
				<div class="cabinet__tab-panel">
					<div class="cabinet__tab-content" id="tab-content-user-info">
						<div class="cabinet__info">
							<div class="cabinet__info-options">
								<a id="edit-profile" class="cabinet__link" href="#">
								<i class="icon-editprofile"></i>edit profile</a>
								<a class="cabinet__link" href="#">
								<i class="icon-changepass"></i>change password</a>
							</div>
							<div class="cabinet__info-avatar">
								<div class="cabinet__info-img">
									<img src="http://lorempixel.com/118/118/animals/7/">
								</div>
								<a class="cabinet__link link-sm" href="#">change avatar</a>
							</div>
							<div class="cabinet__info-details">
								<div class="cabinet__info-detailbox">
									<span class="cabinet__info-title">Your Login:</span>
									<span class="cabinet__info-discr">super_user</span>	
								</div>
								<div class="cabinet__info-detailbox">
									<span class="cabinet__info-title">Your Name:</span>
									<span class="cabinet__info-discr">Super User</span>
								</div>
								<div class="cabinet__info-detailbox">
									<span class="cabinet__info-title">Phone Number:</span>
									<span class="cabinet__info-discr">+2564873497</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="cabinet__tab-item">
				<input type="radio"  name="user-tabs" id="cab-user-billing">
				<label class="cabinet__tab-label" for="cab-user-billing">billing</label>
				<div class="cabinet__tab-panel">
					<div class="cabinet__tab-content" id="tab-content-user-billing">
						<div class="cabinet__billing">
							<h2 class="cabinet__title">Financial information</h2>
							<span class="cabinet__billing-warning">This information will be used for payout, please, fill it carefully</span>
							<form class="cabinet__billing-form">
								<div class="cabinet__billing-container">		<div class="cabinet__billing-left">
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Payout Method</label>
											<div class="cabinet__billing__select-box">
												<span class="cabinet__billing__select-method">
													<select id="select-method" tabindex="-1" class="select-method" name="" placeholder="Bank Wire">
														<option></option>
														<option value="wire">Bank Wire</option>
														<option value="check">Bank Check</option>
														<option value="paypal">Paypal</option>
													</select>
												</span>
											</div>
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Beneficiary account number</label>
											<input class="error cabinet__billing-input" placeholder='9 digits'>
											<span class="error">This field is requered</span>
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Beneficiary name</label>
											<input class=" error cabinet__billing-input" placeholder="Your full name">
											<span class="error">This field is requered</span>
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Bank Name</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">IBAN</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">BIC</label>
											<input class="cabinet__billing-input">
										</div>
									</div>

									<div class="cabinet__billing-right">
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Preffered Currency</label>
											<div class="cabinet__billing__select-box">
												<span class="cabinet__billing__select-method">
													<select id="select-method" tabindex="-1" class="select-method" name="" placeholder="USD">
														<option></option>
														<option value="wire">USD</option>
														<option value="check">EUR</option>
														<option value="paypal">GBP</option>
													</select>
												</span>
											</div>
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Bank Address</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Street</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">City</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">State</label>
											<input class="cabinet__billing-input">
										</div>
										<div class="cabinet__billing-block">
											<label class="cabinet__billing-label">Country</label>
											<input class="cabinet__billing-input">
										</div>
									</div>
								</div>
								<button class="cabinet__btn billing-btn">Save information</button>
							</form>
						</div>
					</div>
				</div>
			</li>
			<li class="cabinet__tab-item">
				<input type="radio" checked="checked" name="user-tabs" id="cab-user-book">
				<label class="cabinet__tab-label" for="cab-user-book">bookings</label>
				<div class="cabinet__tab-panel">
					<div class="cabinet__tab-content" id="tab-content-user-book">
						<div class="cabinet__booking">
							<div  class="cabinet__booking-block">
								<h2 class="cabinet__title">27/01/2015</h2>
								<table class="cabinet__book-table">
									<thead class="cabinet__book-thead">
										<tr class="cabinet__book-tr-head">
											<th class="cabinet__book-th">Client Id</th>
											<th class="cabinet__book-th">Business Type</th>
											<th class="cabinet__book-th">Phone Number</th>
											<th class="cabinet__book-th">Owner e-mail</th>
											<th class="cabinet__book-th">Name</th>
											<th class="cabinet__book-th">Dates</th>
											<th class="cabinet__book-th">Adults</th>
											<th class="cabinet__book-th">Children</th>
											<th class="cabinet__book-th">Status</th>
										</tr>
									</thead>
									<tbody class="cabinet__book-tbody">
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-hotel"></i><span class="cabinet__book-bustype">Hotel</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status confirmed" >Confirmed</span>
											</td>
										</tr>
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-apt"></i><span class="cabinet__book-bustype">Apartment</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status pending" >Pending</span>
											</td>
										</tr>
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-excurs"></i><span class="cabinet__book-bustype">Excursion</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status rejected" >Rejected</span>
											</td>
										</tr>
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-sport"></i><span class="cabinet__book-bustype">Sport</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status confirmed" >Confirmed</span>
											</td>
										</tr>
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-trans"></i><span class="cabinet__book-bustype">Transport</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status confirmed" >Confirmed</span>
											</td>
										</tr>
										<tr class="cabinet__book-tr">
											<td class="cabinet__book-td" data-title="Client Id">165456</td>
											<td class="cabinet__book-td" data-title="Business Type"><i class="table-icon-things"></i><span class="cabinet__book-bustype">Things To Do</span></td>
											<td class="cabinet__book-td" data-title="Phone number">+2 050 5454 964</td>
											<td class="cabinet__book-td" data-title="Owner e-mail">ramada@ramada.com</td>
											<td class="cabinet__book-td" data-title="Name">Hotel Ramada, 4*</td>
											<td class="cabinet__book-td" data-title="Dates"><span class="cabinet__book-fromdate">12.06.15-</span><span class="cabinet__book-todate">26.06.15</span></td>
											<td class="cabinet__book-td" data-title="Adults">3</td>
											<td class="cabinet__book-td" data-title="Children">1</td>
											<td class="cabinet__book-td" data-title="Status">
												<span class="cabinet__book-status confirmed" >Confirmed</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}