{% load i18n static %}

{% with category=post.category %}
    <div class="blog__article">
         <div class="blog__top-r">
            {% if not FILTERED_BY_CATEGORY %}
                <div class="blog__category">
                    <a class="blog__link" href="{{ category.get_absolute_url }}">{{ category.name_trans }}</a>
                    <img src="{% if category.icon %}{{ category.category_icon_thumbnail }}{% else %}{% static 'images/blog_category/icon_no_category-14.png' %}{% endif %}"/>
                </div>
            {% endif %}
            <span class="blog__date">{{ post.created|date:"P d.m.y" }}</span>
        </div>
        <div class="blog__top-l">
            <h2 class="blog__article-title">
                <a href="{{ post.get_absolute_url }}" class="blog__article-title-link">
                    {{ post.title_trans }}
                </a>
            </h2>
            <span class="blog__article-text">
                {% blocktrans count number=post.comments.count %}
                    ({{ number }} comment)
                {% plural %}
                    ({{ number }} comments)
                {% endblocktrans %}
            </span>
        </div>
        <div class="blog__preview-box">
            <img class="blog__preview-pic" src="{{ post.featured_image_thumbnail }}" alt="">
        </div>
        <div class="find__article-text blog-page">{{ post.text_trans|safe }}</div>
        <a href="{{ post.get_absolute_url }}" class="blog__btn">{% blocktrans %}read more{% endblocktrans %}</a>
    </div>
{% endwith %}
