{% load i18n widget_tweaks common_tags %}

{% if messages %}
    <ul id="contrib_messages" style="display: none">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="cabinet__tab-content" id="tab-content-owner-hotel">
    <div class="cabinet__hotel">
        <div class="cabinet__hotel-container">
            <h2 class="cabinet__title room-page">
                {% blocktrans %}Update Prices{% endblocktrans %}
            </h2>
            <span class="cabinet__title-add">
                {% blocktrans with title=apartment.title_trans %}for apartment {{ title }}{% endblocktrans %}
            </span>
            <a class="cabinet__backlink ajax-change-tab" data-url="{% url "update_service_with_slug" apartment.slug %}">
                {% blocktrans %}go back to apartment{% endblocktrans %}
            </a>
        </div>
        <div class="cabinet__hotel-block js-add-price-categories-header"{% if price_category %} style="display:none;"{% endif %}>
            <span class="cabinet__hotel-title-big">{% trans "add price category" %}
                <span class="hint big-text">
                    <span class="hint-icon">i</span>
                    <span class="hint-text">
                        {% blocktrans context "business owner apt add new price category hint" %}business owner apt add new price category hint{% endblocktrans %}
                    </span>
                </span>
            </span>
            <div class="cabinet__hotel-label">{% blocktrans context "business owner apartment new price category text" %}Price category is for short term rent pricing.{% endblocktrans %}</div>
            <div class="cabinet__btn add-price-category add-category ajax-add-apt-price-category-form-link"
                 data-url="{% url "apt_price_category_create" apartment.slug %}">
                <i class="icon-price_category_w"></i>
                {% blocktrans %}add new price category{% endblocktrans %}
            </div>
        </div>
        <div class="cabinet__hotel-block category-pad js-saved-price-categories-header"
             {% if not price_category %}style="display:none;"{% endif %}>
            <span class="cabinet__hotel-title-med">{% trans "saved price categories" %}
                <span class="hint big-text">
                    <span class="hint-icon">i</span>
                    <span class="hint-text">
                        {% blocktrans context "business owner apt saved price categories header hint" %}business owner apt saved price categories header hint{% endblocktrans %}
                    </span>
                </span>
            </span>
            <div class="cabinet__hotel-label">{% blocktrans context "business owner apartment new price category text" %}Price category is for short term rent pricing.{% endblocktrans %}</div>
        </div>
        {% if price_category %}
            {% include "apartments/includes/ajax_price_category_view.html" %}
        {% endif %}
        {% include "apartments/includes/ajax_apt_options_form.html" %}
    </div>
</div>
