{% extends "base_with_simple_header.html" %}
{% load i18n %}

{% block title %}{% blocktrans context 'page title' %}Bookelgouna|Page 500{% endblocktrans %}{% endblock %}
{% block desc_meta_tag %}{% blocktrans context 'page description meta tag' %}page 500 description metatag{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
        <div class="error-pages">
            <div class="error-pages__main-block">
                <div class="error-pages__main page500"><span class="page500">5</span>00</div>
                <div class="error-pages__block page500">
                    <span class="error-pages__block-text">{% blocktrans context 'page 500 text' %}internal server error{% endblocktrans %}</span>
                </div>
                <div class="error-pages__text page500">
                    {% blocktrans context 'page 500 text' %}We are working on it. please, come back later{% endblocktrans %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}