{% load i18n %}

<li class="cabinet__tab-item">
    <input type="radio" {% if tab_name == "profile" %}checked="checked"{% endif %} name="tabs"
           id="cab-user-info" data-url="{% url "user_profile" %}" class="ajax-change-tab">
    <label class="cabinet__tab-label" for="cab-user-info">{% blocktrans %}general{% endblocktrans %}</label>
    <div class="cabinet__tab-panel">
        {% if tab_name == "profile" %}
            {% include ajax_template_name %}
        {% endif %}
    </div>
</li>
