{% extends 'base_with_simple_header.html' %}

{% load i18n %}

{% block title %}{% blocktrans context 'page title' %}Bookelgouna|Social Network Login Failure{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="wrap-inner">
	    <div class="form">
            <h2 class="form__title">{% trans "Social Network Login Failure" %}</h2>

            <p class="form__text">
                {% url 'account_login' as login_url %}
                {% blocktrans %}An error occurred while attempting to login via your social network account. You can use our site <a class="form__mail" href="{{login_url}}">sign in form</a>.{% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
