{% extends "base_service_detail_page.html" %}
{% load i18n common_tags widget_tweaks %}

{% block fb_images %}
    {% fb_service_images_sharing items1=rooms %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="wrap-inner">
    <div class="hotels">
        <div class="hotels__top">
            <div class="hotels__top-980">
                <h2 class="hotels__title big maintitle">{{ object.title_trans }}</h2>
            <div class="find__article-rate-box star-rate-{{ object.rating }} hotel-detail">
                <ul>
                    <li class="find__article-star"></li>
                    <li class="find__article-star"></li>
                    <li class="find__article-star"></li>
                    <li class="find__article-star"></li>
                    <li class="find__article-star"></li>
                </ul>
            </div>
            <a href="#rooms-list" class="hotels__bookroom-btn reserve">{% trans "make a reservation" %}</a>
            <div class="hotels__address">
                {% if hotel.review_avg > 0 %}
                    <div class="find__article-rate-review">
                        {% blocktrans with mark=hotel.review_avg|floatformat:"0" %}{{ mark }}/5 (based on reviews){% endblocktrans %}
                    </div>
                {% endif %}
                 {% if object.address %}
                    <span class="hotels__address-icon"></span>{{ object.address }}
                    <a class="hotels__link" href="#">{% blocktrans %}show on map{% endblocktrans %}</a>
                {% endif %}
                <div class="hotels__address-phone">
                    {% if reservation_phone %}
                        {% trans 'Reservation phone:' context 'Reservation phone text' %}
                        <a class="hotels__link" href="tel:{{ reservation_phone }}" dir="ltr">{{ reservation_phone }}</a>
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="hotels__gallery">
                <div id="hotels-gallery-slider">
                    <div class="find__article-preview detail-page">
                        {% if object.featured_image %}
                            <img id="find-gallery-preview{{ hotel.pk }}" class="find-gallery-preview"
                                 src="{{ object.service_detail_big_featured_image }}" alt="">
                        {% elif object.images.exists %}
                            <img id="find-gallery-preview{{ hotel.pk }}" class="find-gallery-preview"
                                 src="{{ image_obj.service_detail_big_image_thumbnail }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="find-gallery" class="find-gallery-multiply owl-carousel" data-previewID="find-gallery-preview{{ hotel.pk }}">
                {% if object.featured_image %}
                    <div class="item" data-bigImg="{{ hotel.service_detail_big_featured_image }}">
                        <img class="lazyOwl" data-src="{{ hotel.service_detail_small_featured_image }}">
                    </div>
                {% endif %}
                {% for image_obj in object.images.all %}
                    <div class="item" data-bigImg="{{ image_obj.service_detail_big_image_thumbnail }}">
                        <img class="lazyOwl" data-src="{{ image_obj.service_detail_small_image_thumbnail }}">
                    </div>
                {% endfor %}
            </div>
            <div class="sharing_toolbox">
                {% include 'common/includes/fb_and_gplus_buttons.html' %}
            </div>
            
            <div class="hotels__text-box customScroll">
                <p class="hotels__text">{{ object.description_trans|linebreaksbr }}</p>
            </div>
        </div>
        <div id="rooms-list">
            {% include "hotels/includes/ajax_hotel_detail.html" %}
        </div>
        <div>
            {% if show_rate_block %}
                <div class="hotels__find-container review-container">
                    {% include "hotels/includes/ajax_review_block.html" with service=hotel %}
                </div>
            {% endif %}
            {% if object.amenities.count > 0 %}
                <div class="hotels__amenities">
                     <h3 class="hotels__title">{% trans "amenities" %}</h3>
                     <table class="table-amenities">
                        {% regroup object.amenities.all by category.name_trans as amenities %}
                        {% for amenity_group in amenities %}
                            <tr>
                                <td class="amenities-name">{{ amenity_group.grouper }}</td>
                                <td>{{ amenity_group.list|join:", " }}</td>
                            </tr>
                        {% endfor %}
                     </table>
                </div>
            {% endif %}
            <div id="comments_container">
                {% if can_add_comment %}
                    <div class="hotels__find-container comment-container">
                        {% url 'new_hotelcomment' as comment_url %}
                        {% include "common/includes/ajax_comment_form_block.html" with comment_url=comment_url comment_form=comment_form %}
                    </div>
                {% endif %}
                <div class="hotels__find-container comment-list-container">
                    <h3 class="hotels__title">{% trans "comments" %}</h3>
                    {% include "hotels/comment_list.html" with next_page=2 entity_id=object.pk %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
